<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Selection</title>
    <style>
        * {
            padding: 0px;
            margin: 0px
        }

        h1 {
            text-align: center;
        }

        section {
            width: 200px;
            height: 100px;
            margin: 100px auto;
            border: 1px solid black;
            padding: 50px;
        }

        section > div{
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <section>
        <h1>Mode Selection</h1>

        <div>
            <a href="/encode">Encode</a>
            <a href="/decode">Decode</a>
        </div>
    </section>

</body>

</html>